#footer {
width:96%;

}

.footerInner {


}
#footer .groove {
margin-left:20px;
border: 1px solid #EEE;
border-top: 1px solid #E8E8E8;
border-bottom: 1px solid white;
}
#footer h4 {
margin:35px 0 0 18px;
font-size: 12px;
font-weight:normal;
font-family: 'Arial', sans-serif;
color: #A1A1A1;
text-align:left;
float:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;	
}
#footer #logo2 {
background-color: #5BA0B8;
float:right;
margin:0 -8px 0 10px;
width:60px;
height:60px;
font-size: 50px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.28;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;	
}
#footer p {
float:right;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #cdcdcd;
text-align:left;
line-height:2.8;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;	
}
#footer span {
margin-left:20px;
font-size: 12px;
font-weight:normal;
font-family: 'Arial', sans-serif;
color: #5BA0B8;
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
