#remove_video_form {
background:url(../../images/shattered.png)repeat;
height:150px;
width:150px;
padding:30px;
position:absolute;
left:50%;
margin-left:-135px;
z-index:10;
display:none;
border:1px solid black;
}