#show_more {
background-color:#cdcdcd;
height:35px;
width: 96%;
margin: 2% 0 4% 2%;
font-size: 20px;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.8;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#show_more:hover {
background-color:#B0AEAE;
}
