<template name="add_videos">
	<div class="backface" id="add_videos_side" style="display:none;" >
		<div id="add_videos_bar">
			<div id="add_videos_back">BACK</div>
			<div id="add_videos_spacer"></div>
			<div id="add_videos_clear">CLEAR DESCRIPTIONS</div>
			<div id="add_videos_next">DONE</div>
		</div>
		
		<div id="add_videos_wrapper">
			<div id="add_videos_scroller">
				{{#isolate}}
					{{#each videos}}
						{{>add_video_row}}
					{{/each}}
				{{/isolate}}
			</div>
		</div>
	</div>
</template>