<template name="search">
	<div class="cube_container c_container">
		<div class="cube" id="search_cube">
			{{>dummy_side}}
			{{>buddy_list}}
			{{>popular_side}}
			{{>from_friends_side}}
			{{>history_side}}
			{{>search_fullscreen_side}}
			{{>search_fullscreen_side_alt}}
			{{>user_profile_side}}
		</div>
	</div>
</template>

<template name="dummy_side">
	<div class="backface" id="dummy_side" style="background: white;border: 25px solid #559afe;">
		<img class="scrablam_side" src="/images/scrablam.png" />
	</div>
</template>





