<template name="message_bar_side">
	<div class="backface message_bar_side" style="display:none;">
		<div class="message_form bar_tab">
			<input class="message_field" placeholder="SAY SOMETHING"/>
		</div>
		
		<div class="watch bar_tab">
			<i class="fa fa-desktop" style="font-size: 30px; position: relative; top: 7px; left: 4px;"></i>
			<span style="font-size: 16px; position: relative; top: -6px; line-height: 2; left: 4px;">WATCH</span>
		</div>
		
		<div class="post_to_twitter bar_tab selected">
			<i class="fa fa-twitter" style="font-size: 24px; position: relative; top: 9px; left: 4px;"></i>
			<span style="font-size: 16px; position: relative; top: -44px; line-height: 2; left: 4px;">post to twitter</span>
		</div>
		
		<div class="respond bar_tab">RESPOND</div>
		<div class="dismiss bar_tab">DISMISS</div>
	</div>
</template>