<template name="popular_side">
	<div class="backface primary_side" id="popular_side" style="display:none;">
		{{>search_bar}}
		{{>search_results}}
	</div>
</template>

<template name="from_friends_side">
	<div class="backface primary_side" id="from_friends_side" style="display:none;">
		{{>search_bar}}
		{{>search_results}}
	</div>
</template>

<template name="search_results">
	<div id="search_results_container">
		<div id="search_results_wrapper">
			<div id="search_results_scroller">
				{{>search_columns}}
				<div style="clear:both;"></div>
			</div>
		</div>

		{{>back_next_buttons}}
		{{>search_video_info}}
		{{>hover_player}}
		
		{{>search_help_graphic}}
	</div>
</template>

<template name="search_help_graphic">
	{{#if show}}
		<div class="search_help_box">
			<img src="/images/search_help.png" class="search_help_graphic"/>
			<div class="search_help_text">Search & Click Enter. Click Videos to Find Related.</div>
		</div>
	{{/if}}
</template>

<template name="back_next_buttons">
	<div id="search_results_back" class="search_back_next" style="display:{{showBack}};"><i class="fa fa-arrow-left"></i></div>
	<div id="search_results_next" class="search_back_next" style="display:{{showNext}};"><i class="fa fa-arrow-right"></i></div>
</template>