<template name="popular_side">
	<div class="backface primary_side" id="popular_side" style="display:none;">
		
		<div id="bar_popular" class="bar_cube_container c_container" style="position:absolute; top:5px; left: 5px; overflow:visible; height: 60px;">
			<div class="c message_cube" id="bar_cube" style="overflow-y:visible; ">
				{{>search_bar_side id='popular'}}
				{{>message_bar_side id='popular_message' fullscreen=false}}
			</div>
		</div>
	
	
	
		<div class="search_results_container">
			
				<div class="search_results_wrapper">
					<div class="search_results_scroller">
						{{>search_columns_popular}}
						<div style="clear:both;"></div>
					</div>
				</div>
			

			
				{{>back_next_buttons}}
				{{>search_video_info}}
				<div class="hover_player_container" id="hover_player_container_popular">
					<div class="hover_player" id="hover_player_popular"></div>
				</div>
			
		</div>
		
	</div>
</template>

<template name="from_friends_side">
	<div class="backface primary_side" id="from_friends_side" style="display:none;">
	
		<div id="bar_from_friends" class="bar_cube_container c_container" style="position:absolute; top:5px; left: 5px; overflow:visible; height: 60px;">
			<div class="c message_cube" id="bar_cube" style="overflow-y:visible; ">
				{{>search_bar_side id='from_friends'}}
				{{>message_bar_side id='from_friends_message' fullscreen=false}}
			</div>
		</div>
	
	
	
		<div class="search_results_container">
			
				{{>search_help_graphic}}
				<div class="search_results_wrapper">
					<div class="search_results_scroller">
						{{>search_columns_from_friends}}
						<div style="clear:both;"></div>
					</div>
				</div>
			
		
			
				{{>back_next_buttons}}
				{{>search_video_info}}
				<div class="hover_player_container" id="hover_player_container_from_friends">
					<div class="hover_player" id="hover_player_from_friends"></div>
				</div>
			
		</div>
	
	</div>
</template>



<template name="user_profile_side">
	<div class="backface primary_side" id="user_profile_side" style="display:none;">
		
		<div id="bar_popular" class="bar_cube_container c_container" style="position:absolute; top:5px; left: 5px; overflow:visible; height: 60px;">
			<div class="c message_cube" id="bar_cube" style="overflow-y:visible; ">
				{{>search_bar_side id='user_profile'}}
				{{>message_bar_side id='user_profile_message' fullscreen=false}}
			</div>
		</div>
	
	
	
		<div class="search_results_container">
			
				<div class="search_results_wrapper">
					<div class="search_results_scroller">
						{{>search_columns_user_profile}}
						<div style="clear:both;"></div>
					</div>
				</div>
			

			
				{{>back_next_buttons}}
				{{>search_video_info}}
				<div class="hover_player_container" id="hover_player_container_popular">
					<div class="hover_player" id="hover_player_popular"></div>
				</div>
			
		</div>
		
	</div>
</template>


<template name="search_help_graphic">
	{{#if show}}
		<div class="search_help_box">
			<img src="/images/search_help.png" class="search_help_graphic"/>
			<div class="search_help_text">Sorry Boss, You Don't Have Active Friends Yet.</div>
		</div>
	{{/if}}
</template>

<template name="back_next_buttons">
	<div class="search_results_back search_back_next" style="display:{{showBack}};"><i class="fa fa-arrow-left"></i></div>
	<div class="search_results_next search_back_next" style="display:{{showNext}};"><i class="fa fa-arrow-right"></i></div>
</template>