<template name="search_bar">
	<div id="bar_cube_container" class="c_container" style="position:absolute; top:5px; left: 5px; overflow:visible; height: 60px; z-index:5;">
		<div class="c" id="bar_cube" style="overflow-y:visible; ">
			{{>search_bar_side}}
			{{>message_bar_side}}
		</div>
	</div>
</template>

<template name="search_bar_side">
	<div class="backface" id="search_bar" style="">
			<div class="buddy_list_button bar_tab">
				<i class="fa fa-users" style="font-size:42px;"></i>
			</div>
		{{#isolate}}
			<input type="text" id="search_query" class="bar_tab" placeholder="Search Away" />
			<div class="enter_button bar_tab">PRESS ENTER</div>		
		{{/isolate}}
		
		{{#isolate}}
			<div id="popular_vs_friends" class="bar_tab">
				<div id="popular" class="popular_vs_friends {{popularChecked}}">POPULAR</div>
				<div id="from_friends" class="popular_vs_friends {{fromFriendsChecked}}">FROM FRIENDS</div>
			</div>
		{{/isolate}}
		
		{{#isolate}}
			<div id="search_category_dropdown" class="bar_tab">
				
				{{#isolate}}
					<span>{{categoryName}}</span>
				{{/isolate}}
				
				{{#isolate}}
					<div id="search_category_options" style="display:none">
						{{#isolate}}
							{{#each categories}}
								<div class="search_category_option">{{name}}</div>
							{{/each}}
						{{/isolate}}
					</div>
				{{/isolate}}
			</div>			
		{{/isolate}}
		
		{{#isolate}}
			<div id="history_button" class="bar_tab">HISTORY</div>
		{{/isolate}}
		
	
		{{>autocompletion}}
	</div>
</template>



<template name="autocompletion">
	<div class="autocompletion">
		{{#each predictiveResults}}
			<div class="autocompletion_row">{{this}}</div>
		{{/each}}
	</div>
</template>

