<template name="search_columns_popular">
	{{#each columns}}
		{{#if isVideos}}
			{{>search_column}}
		{{/if}}
	{{/each}}
</template>

<template name="search_columns_from_friends">
	{{#each columns}}
		{{#if isVideos}}
			{{>search_column}}
		{{/if}}
	{{/each}}
</template>

<template name="search_columns_user_profile">
	{{#each columns}}
		{{#if isVideos}}
			{{>search_column}}
		{{/if}}
	{{/each}}
</template>

<template name="search_column">
	<div class="search_result_column" index="{{index}}" style="display:none;">
		{{#each videos side}}
			{{>search_result}}
		{{/each}}

		<div class="delete_column">x</div>

		<div class="column_label" style="background-color:{{color}};">{{label}}</div>
		<div class="column_cover" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
	</div>
</template>