<template name="add_video_form">
	<div id="add_video_form">
		
		<a id="cancel_add_video" href="#">cancel/close</a>
		
		
		<img src="/images/logo-icon.png" id="logo" />
		<h1>Add to EmilioTelevision.com</h1>
		
		<div class="clearboth"></div>
		
		
		<div class="field_container" style="margin-top:20px;">
			<label>Title</label>
			<input id="title_field" type="text">
			<div class="clearboth"></div>
		</div>

		
		<div class="field_container">
			<label>Youtube_id</label>
			<input id="youtube_id_field" type="text">
			<div class="clearboth"></div>
		</div>

		
		<div class="field_container">
			<label>Channel</label>
			<input id="channel_field" type="text">
			<div class="clearboth"></div>
		</div>

		
		<div class="field_container">
			<label>Category</label>
			<select id="category_id_field">
				<option value='1' selected>Comedy</option>
				<option value='2'>Music</option>
				<option value='3'>Documentary</option>
				<option value='4'>Tech</option>
				<option value='5'>Education</option>
				<option value='6'>News</option>
				<option value='7'>Skate</option>
				<option value='8'>Hot</option>
				<option value='9'>Gym</option>
			</select>
			<div class="clearboth"></div>
		</div>

		
		<div class="field_container">
			<label>Length</label>
			<input id="length_field" type="text" style="width: 75px;">
			<div class="clearboth"></div>
		</div>

		<div class="field_container">
			<label>Initial Comment</label>
			<textarea id="initial_comment_field"></textarea> 
			<div class="clearboth"></div>
		</div>
		
		<div class="field_container">
			<label>Description</label>
			<textarea id="description_field"></textarea> 
			<div class="clearboth"></div>
		</div>

		<input type="hidden" id="video_id" name="video_id" value="" />
		
		<div class="field_container">
			<input type="button" id="submit_button" value="ADD/EDIT VIDEO BITCH!">
		</div>

		
	</div>
</template>