<template name="add_video_form">
	<div id="add_video_form">
		<h1>Add a Video</h1>
		Title
		<input id="title_field"  type="text" /><br>
		Youtube_id
		<input id="youtube_id_field"  type="text" /><br>
		Channel
		<input id="channel_field"  type="text" /><br>
		Category_id
		<input id="category_id_field"  type="text" /><br>
		Length
		<input id="length_field"  type="text" /><br>
		Description
		<input id="description_field"  type="text" /><br>
		<input type="button" id="submit_button" value="submit"/>
		<a id="cancel_add_video" href="#">cancel/close</a>
	</div>
</template>