<template name="being_watched">
	{{#if is_videos}}
	<div id="being_watched">
		<div class="groove"></div>
			<div class="miniPlaylist">
			{{#each videos}}
		    	{{> being_watched_thumb}}
			{{/each}}
			
			<img style="float:right; margin-top:12px;" src="/images/bwn.png" width="60" height="71" alt="Bwn">
			</div>
		
		
		<div class="groove" style="margin-bottom: 25px"></div>
	</div>
	{{/if}}
</template>

<template name="being_watched_thumb">
	
		<div class="miniVid" >
			<div class="miniVidHover" style="display:none;"></div>
			<img class="beingWatchedImg" src="http://img.youtube.com/vi/{{youtube_id}}/mqdefault.jpg" error="this.src='/images/default-vid.jpg';"/>
		</div>
		
</template>