<template name="custom_player">
	<div id="videoContainer">
    
	    <div id="video">
	        <div id="largePlayPauseButton" class="stopped">
	        	<div class="smallPlay"></div> 
	        </div>
	    </div>
    
    
	    <div id="controls">
	        <div id="smallPlayPauseButton"></div> 
        	<div id="groove"></div>
	        <div id="bars">
	            <div id="loadingBar"></div>
	            <div id="progressBar"></div>
	            <div id="currentTimeBall"></div>
	        </div>
        
	        <div id="volume">
	        </div>
        	<div id="minilogo">E</div>
			<div id="groove"></div>
	        <div id="fullscreen"></div>
	    </div>
    
	</div>
</template>