<template name="forkit_curtain">
	<div class="forkit-curtain">
		<h1 class="contact_me">CONTACT ME</h1>
		<div class="close-button"></div>
		<h1>Emilio Santana</h1>
			{{>slideup_boxes}}
		<p>EmilioTelevision is one of my many passions, but for a living, I build websites. I have worked on many web programming projects, ranging from full website development to small programming jobs. I'm skilled in HTML, CSS, JAVASCRIPT, and PHP. If you think I have experience in what you are looking for, <a href="mailto:emiliotelevision@gmail.com">contact me</a> to discuss details of your web dev project. Most likely I can accomplish it for you.</p>
		<h2>Some of my recent projects</h2>
		<img class="morph" src="../../images/recentProject1.png" width="200" height="200" alt="RecentProject1">
		<img class="morph" src="../../images/recentProject2.png" width="200" height="200" alt="RecentProject2">
		<img class="morph" src="../../images/recentProject3.png" width="200" height="200" alt="RecentProject3">
		<img class="morph" src="http://placekitten.com/g/204/200">
		<ul>
			<li><a href="http://TabletTeacher.com/" target="_blank">TabletTeacher.com</a></li>
			<li><a href="http://MiCocinaMyKitchen.com/" target="_blank">MiCocinaMyKitchen.com</a></li>
			<li><a href="http://EmilioTelevision.com/" target="_blank">EmilioTelevision.com</a></li>
			<li><a href="http://KnoFlow.com/" target="_blank">KnoFlow.com</a></li>
		</ul>
		
	</div>
</template>