<template name="forkit_curtain">
	<div class="forkit-curtain">
		<h1 class="contact_me">CONTACT ME</h1>
		<div class="close-button"></div>
		<h1>Emilio Santana</h1>
			{{>slideup_boxes}}
		<p>EmilioTelevision is one of my many passions, but for a living, I build websites. I have worked on many web programming projects, ranging from full website development to small programming jobs. I'm skilled in HTML, CSS, JAVASCRIPT, and PHP. If you think I have experience in what you are looking for, <a href="mailto:emiliotelevision@gmail.com">contact me</a> to discuss details of your web dev project. Most likely I can accomplish it for you.</p>
		<h2>Some of my recent projects</h2>
		<img class="morph" src="/images/projects/kf.png" width="200" height="200" alt="RecentProject1">
		<img class="morph" src="/images/projects/dr.png" width="200" height="200" alt="RecentProject2">
		<img class="morph" src="/images/projects/ck.png" width="200" height="200" alt="RecentProject3">
		<img class="morph" src="/images/recentProject3.png">
		<ul>
			<li style="left: 10px;"><a href="http://www.knoflow.com" target="_blank">KnoFlow.com</a></li>
			<li style="left: 15px;"><a href="http://drgoodwin.meteor.com" target="_blank">DrCharlesGoodwin.com</a></li>
			<li style="left: 44px;"><a href="http://consciouskombucha.com" target="_blank">ConsciousKombucha.com</a></li>
			<li style="left: 60px;"><a href="http://EmilioTelevision.com" target="_blank">EmilioTelevision.com</a></li>
		</ul>
		
	</div>
</template>