<template name="header">
	<div id="header_container">
		<div id="header">
			{{#if isAdmin}}
				<span id="add_marker" class="admin_link">add marker</span>
				<span id="add_video" class="admin_link">add video</span>
			{{/if}}
			
			<div class="headerInner">
				
				{{#if isAdmin}}
					<div id="comment_container" style="display:none;">
						<textarea id="marker_comment"></textarea>
						<span id="cancel_marker" class="admin_link" class="admin_link">cancel bitch</span>
						<input type="button" id="marker_submit_button" value="COMMENT" />
					</div>
				{{/if}}
				<a id="header_left" href="/" style="text-decoration:none;">
					<div id="logo">E</div>
					<div id="title">EMILIOTELEVISION</div>
				</a>

				<div id="header_right">
					<a id="facebook" href="http://www.facebook.com/emiliotelevision" target="_blank"></a>
					<a id="twitter" href="http://www.twitter.com/emiliotv" target="_blank"></a>
					<a id="youtube" href="http://www.youtube.com/emiliotelevision" target="_blank"></a>
					<a id="contact">CONTACT</a>
				</div>
			</div>
		</div>
	</div>
</template>