<template name="header">
	<div id="header_container">
		<div id="header">
			{{#if isInRole 'admin'}}
				<span id="add_marker" class="admin_link">add marker</span>
				<span id="add_video" class="admin_link">add video</span>
			{{/if}}
			
			<div class="headerInner">
				
				{{#if isInRole 'admin'}}
					<div id="comment_container" style="display:none;">
						<textarea id="marker_comment"></textarea>
						<span id="cancel_marker" class="admin_link" class="admin_link">cancel</span>
						<input type="button" id="marker_submit_button" value="COMMENT" />
					</div>
				{{/if}}
				<a id="header_left" href="/" style="text-decoration:none;">
					<img src="/images/speechless-logo.png" style="height: 48px; margin-top:2px;" />
				</a>

				<div id="header_right">
					{{#if currentUser}}	
						{{#if is_update_video}}
							{{>back_button}}
						{{else}}
							{{>my_account_button}}	
							{{>upload_video_button}}
						{{/if}}
					{{else}}
						<img id="facebook_connect" src="/images/fb-button.png" />
						{{>upload_video_button}}
					{{/if}}
					
				</div>
			</div>
		</div>
	</div>
</template>

<template name="back_button">
	<div class="custom_button" id="back_buton">
		<div class="custom_button_inner">
			BACK
		</div>
	</div>
</template>

<template name="upload_video_button">
	<div class="custom_button" id="upload_video_button">
		<div class="custom_button_inner">
			Add Video
		</div>
	</div>
</template>

<template name="my_account_button">
	<div class="custom_button" id="my_account">
		<div class="custom_button_inner">
			My Account
		</div>
	</div>
</template>