<template name="header">
	<div id="header_container">
		<div id="header">
			{{#if isAdmin}}
				<span id="add_video">add video</span>
			{{/if}}
			
			<div class="headerInner">
				<div id="header_left">
					<div id="logo">E</div>
					<div id="title">EMILIOTELEVISION</div>
				</div>

				<div id="header_right">
					<a id="facebook" href="http://www.facebook.com/emiliotelevision" target="_blank"></a>
					<a id="twitter" href="http://www.twitter.com/emiliotv" target="_blank"></a>
					<a id="youtube" href="http://www.youtube.com/emiliotelevision" target="_blank"></a>
					<a id="contact">CONTACT</a>
				</div>
			</div>
		</div>
	</div>
</template>