<template name="home_video">
	<div id="top">
		
		<div id="home_video">
			
			{{#if useCustomPlayer}}
				{{>custom_player}}
			{{else}}
				<iframe style="width: 100%; height: 100%;" src="http://www.youtube.com/embed/{{current_video.youtube_id}}?modestbranding=1&theme=light&color=red&rel=0&autoplay=0" frameborder="0" allowfullscreen></iframe>
				
			{{/if}}
			
		</div>
		<div class="channelName">
			<h1>{{current_video.title}}</h1>
		</div>
		<div style="clear:both;"></div>
		<div class="channelViews">
			<p>{{category}}-</p>
			<h1 id="home_video_channel">{{current_video.channel}}</h1>
		</div>
		<div class="videoBio">
			<p>
				<img src="/images/logo-icon.png" id="miniMills" />
				<span class='spanQuotes'>"&nbsp;</span>{{current_video.description}}<span class='spanQuotes'>"</span>
			</p>
		</div>
		<div style="clear:both;"></div>
		<div id="votes">
			<ul>
		
					<li id="facebookShare">
						<a class="facebook_link" href="https://www.facebook.com/sharer/sharer.php?u=www.emiliotelevision.com" target="_blank">
							<img src="/images/facebook-share.png" alt="Follow Me" />
						</a>
					</li>
					<li>
						<a id="tweetButton" class="tweet_link" href="https://twitter.com/share?via=emiliotv&url=http://www.emiliotelevision.com" target="_blank">
							<img src="/images/tweet.png" width="60" height="20" alt="Tweet Me" />
						</a>
					</li>
				
					<li>
						<a href="https://twitter.com/emiliotv" target="_blank">
							<img src="/images/followme.png" width="111" height="20" alt="Follow Me" />
						</a>
					</li>
				
					<li id="facebookLikeLi">
						{{>fb_like}}
					</li>			

			</ul>
		</div>
	</div>
</template>


<template name="fb_like">
	{{#constant}}
     <iframe id="facebookLikeIframe" src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.emiliotelevision.com&amp;send=false&amp;layout=standard&amp;width=450&amp;show_faces=true&amp;font&amp;colorscheme=light&amp;action=like&amp;height=80&amp;appId=390914004314228" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:30px;" allowTransparency="true"></iframe>
	{{/constant}}
</template>