<head>
  	<title>emiliotelevision</title>
  	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>

	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript">google.load("swfobject", "2.1");</script>
</head>

<body>

	

  {{>header}}
  <div id="container"> <!-- make this center ur shit in the fixed width instead of #main-->
	{{>forkit_curtain}}
	{{>ribbon}}
	{{>contact_form}}
	{{>add_video_form}}
	{{>remove_video_form}}
	{{>next_thumbs}}
	{{>body}}
	{{>footer}}
  </div><!---END OF CONTAINER-->
</body>


