<head>	
	<title></title>
	<meta name="description" content="" />
	<meta property="og:title" content=""/>
	<meta property="og:type" content="video"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:site_name" content="Speechless.TV"/>
	<meta property="fb:admins" content="16404762,100000688015995,1194105817"/>
	<meta property="og:description" content=""/>
	
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
	

  	<link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
  	<link href='http://fonts.googleapis.com/css?family=Archivo+Black' rel='stylesheet' type='text/css'>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript">google.load("swfobject", "2.1");</script>
	
	<script>
		function loadGoogleApis() {
			gapi.client.setApiKey('AIzaSyCUUiKH2qwEiFgTyJd6_GG2GBEarmkY2Eg');
			gapi.client.load('youtube', 'v3');
		}
	</script>
	<script src="https://apis.google.com/js/client.js?onload=loadGoogleApis"></script>
	

	
	<!--[if gte IE 9]>
	  <style type="text/css">
	    .gradient {
	       filter: none;
	    }
	  </stle>
	<![endif]-->
</head>



<template name="blank_layout">
	<div class="liquid_container" style="background: url('/images/creampaper.png');">
		{{>yield}}
		{{>follow_button}}
		<div class="whole_page_cover" style="position: absolute; width: 100%; height: 100%; top: 0px; left: 0px;display:none;"></div>
	</div>
</template>



<template name="main_layout">
	{{>header}}
	
	 <div id="container" class="page"> 		
		{{>yield}}
	 </div>
	
	{{>footer}}
	
	{{>google_analytics}}
</template>

<template name="browse_video">
	{{>video}}
	{{>video_grid}}
</template>

<template name="video">
	<div id="video_area">
		{{>youtube_player}}
		{{>overlays}}
	</div>
</template>

<template name="overlays">
	{{#if player_ready}}
		{{>title_box}}
		{{>submit_video}}
		{{>video_info}}
	{{else}}
		{{>preloader}}
	{{/if}}
</template>

<template name="video_grid">
	<div id="video_grid">
		{{>next_thumbs}}
		{{>being_watched}}
		{{>categories}}
		{{>thumb_grid}}
		{{>show_more}}
	</div>
</template>


<template name="none"></template>
<template name="google_analytics"></template>


<template name="dynamicTemplate">
	{{#with chooseTemplate name}}
		{{#if data}}
    		{{#with ../data}}  
      			{{> ..}}        
    		{{/with}}
		{{else}}
			{{> ..}}
		{{/if}}
	{{/with}}
</template>