<template name="next_thumbs">
	{{>leftThumb}}
	{{>rightThumb}}
</template>

<template name="leftThumb">
	<div id="leftThumb" class="next" youtube_id="{{this.youtube_id}}">
		<img id="iframeImg" src="../../images/the-whisky-water-trick.png"  alt="The Whisky Water Trick">
		<p id="title">WHISKEY</p>
		<p id="time">02:17</p>
		<img id="time" src="../../images/timeIcon.png" width="13" height="13" alt="TimeIcon">
	</div>
</template>

<template name="rightThumb">
	<div id="rightThumb" class="next" youtube_id="{{this.youtube_id}}">
		<img id="iframeImg" src="../../images/the-whisky-water-trick.png"  alt="The Whisky Water Trick">
		<p id="title">WHISKEY</p>
		<p id="time">02:17</p>
		<img id="time" src="../../images/timeIcon.png" width="13" height="13" alt="TimeIcon">
	</div>
</template>