<template name="next_thumbs">
	{{>leftThumb}}
	{{>rightThumb}}
</template>

<template name="leftThumb">
	<div id="leftThumb" class="next" youtube_id="{{this.youtube_id}}">
		<div class="iframeImg">
			<img src="../../images/the-whisky-water-trick.png">
		</div>
		<p class="title">WHISKEY</p>
		<p class="time">02:17</p>
		<img class="time" src="../../images/timeIcon.png" width="13" height="13">
	</div>
</template>

<template name="rightThumb">
	<div id="rightThumb" class="next" youtube_id="{{this.youtube_id}}">
		<div class="iframeImg">
			<img src="../../images/the-whisky-water-trick.png">
		</div>
		<p class="title">WHISKEY</p>
		<p class="time">02:17</p>
		<img class="time" src="../../images/timeIcon.png" width="13" height="13">
	</div>
</template>