<template name="search">
	<div class="cube_container">
		<div class="cube" id="search_cube">
			{{>dummy_side}}
			{{>search_page}}
			{{>add_videos}}
			{{>search_fullscreen_side}}
			{{>search_fullscreen_side_alt}}
		</div>
	</div>
</template>

<template name="dummy_side">
	<div class="backface" id="dummy_side" style="background: white;border: 25px solid #559afe;">
		<img class="scrablam_side" src="/images/scrablam.png" />
	</div>
</template>

<template name="search_page">
	<div class="backface" id="search_results_side" style="display:none;">
		{{>search_bar}}
		{{>search_results}}
	</div>
</template>




<template name="add_videos">
	<div class="backface" id="add_videos_side" style="display:none;" >
		<div id="add_videos_bar">
			<div id="add_videos_back">BACK</div>
			<div id="add_videos_spacer"></div>
			<div id="add_videos_clear">CLEAR DESCRIPTIONS</div>
			<div id="add_videos_next">DONE</div>
		</div>
		
		<div id="add_videos_wrapper">
			<div id="add_videos_scroller">
				{{#isolate}}
					{{#each videos}}
						{{>add_video_row}}
					{{/each}}
				{{/isolate}}
			</div>
		</div>
	</div>
</template>

<template name="add_video_row">
	<div class="add_video_row">
		<div class="add_video_row_left">
			<div class="add_video_image_container">
				<img id="{{youtube_id}}" class="add_video_row_image" src="{{src}}" />
				
				<div class="search_fullscreen">
					<i class="fa fa-arrows-alt"></i>
				</div>

				<div class="fast_forward">
					{{#isolate}} {{timeFormatted}} {{/isolate}}
					<i class="fa fa-forward"></i>
				</div>
			</div>
			
			<select class="add_video_row_dropdown">
				{{#isolate}}
					{{#each categories}}
						<option value="{{category_id}}" {{categorySelected ../category_id}}>{{name}}</option>
					{{/each}}
				{{/isolate}}
			</select>
		</div>
		
		<div class="add_video_row_info">
			<input value="{{title}}">
			<textarea>{{description}}</textarea>
		</div>
	</div>
</template>

<template name="search_bar">
	<div id="search_bar">
		{{#isolate}}
			<input type="text" id="search_query" placeholder="Search Away" />		
		{{/isolate}}
		
		{{#isolate}}
			<div id="search_check">
				<div id="search_check_all" class="search_check {{checkallChecked}}">CHECK ALL</div>
				<div id="search_uncheck_all" class="search_check {{uncheckallChecked}}">UNCHECK ALL</div>
			</div>
		{{/isolate}}
		
		{{#isolate}}
			<div id="search_category_dropdown">
				
				{{#isolate}}
					<span>{{categoryName}}</span>
				{{/isolate}}
				
				{{#isolate}}
					<div id="search_category_options" style="display:none">
						{{#isolate}}
							{{#each categories}}
								<div class="search_category_option">{{name}}</div>
							{{/each}}
						{{/isolate}}
					</div>
				{{/isolate}}
			</div>			
		{{/isolate}}
		
		{{#isolate}}
			<div id="search_next_button">NEXT</div>
		{{/isolate}}
	</div>
</template>

<template name="search_results">
	<div id="search_results_container">
		<div id="search_results_wrapper">
			<div id="search_results_scroller">
				{{>search_columns}}
				<div style="clear:both;"></div>
			</div>
		</div>

		{{>back_next_buttons}}
		{{>search_video_info}}
		{{>hover_player}}
		
		{{>search_help_graphic}}
	</div>
</template>

<template name="search_help_graphic">
	{{#if show}}
		<div class="search_help_box">
			<img src="/images/search_help.png" class="search_help_graphic"/>
			<div class="search_help_text">Search & Click Enter. Click Videos to Find Related.</div>
		</div>
	{{/if}}
</template>

<template name="back_next_buttons">
	<div id="search_results_back" class="search_back_next" style="display:{{showBack}};"><i class="fa fa-arrow-left"></i></div>
	<div id="search_results_next" class="search_back_next" style="display:{{showNext}};"><i class="fa fa-arrow-right"></i></div>
</template>

<template name="search_columns">
	{{#each columns}}
		{{>search_column}}
	{{/each}}
</template>

<template name="search_column">
	<div class="search_result_column" index="{{index}}" style="display:none;">
		{{#each videos}}
			{{>search_result}}
		{{/each}}
		
		<div class="delete_column" style="display:none;">x</div>
	</div>
</template>

<template name="search_result">
	<div class="search_result">
		<img class="video_image" src="{{src}}" />
		
		<div class="check_video" style="{{show}}">
			<i class="fa fa-check"></i>
		</div>
		
		<div class="search_fullscreen">
			<i class="fa fa-arrows-alt"></i>
		</div>

		<div class="fast_forward">
			<i class="fa fa-forward"></i>
		</div>
	</div>
</template>

<template name="search_video_info">
	<div id="search_video_info" style="display:none;">
		{{#isolate}}
			{{#with current_search_video}}
				<div id="search_video_title">{{title}}</div>
				<div id="search_video_duration">{{time}}/{{duration}}</div>
			{{/with}}
		{{/isolate}}
	</div>
</template>

<template name="hover_player">
	<div id="hover_player_container">
		<div id="hover_player"></div>
	</div>
</template>