<template name="slideup_boxes">
		<section class="slide-up-boxes">

			<a>
				<h5>OWNER/WEBMASTER...</h5>
				<div>Owner and creator of EmilioTelevision.com. Your one stop spot for everything that's hot on the internet. From comedy to tragedy, and everything else in between.</div>				
			</a>
				
			<a>
				<h5>WEB DEVELOPER...</h5>
				<div>Web developer by trade, with skills in HTML,CSS, JAVASCRIPT, and PHP. I bring a creative and innovative view to web development.</div>				
			</a>
			
			<a>
				<h5>GRAPHIC DESIGNER...</h5>
				<div>The perfect designer for your logo, cover art, flyer, business card, youtube page, photo enhancements, and much more...</div>				
			</a>

		</section>
</template>