<template name="slideup_boxes">
		<section class="slide-up-boxes">

			<a>
				<h5>OWNER/WEBMASTER...</h5>
				<div>Creator of EmilioTelevision.com, your one stop spot for everything hot on the internet: from comedy to tragedy & everything in between.</div>				
			</a>
				
			<a>
				<h5>WEB DEVELOPER...</h5>
				<div>Web developer by trade, with skills in HTML,CSS, JAVASCRIPT, and PHP. I bring a creative & innovative view to web dev.</div>				
			</a>
			
			<a>
				<h5>GRAPHIC DESIGNER...</h5>
				<div>The perfect designer for your logo, cover art, flyer, business card, youtube page, photo enhancements, and much more...</div>				
			</a>

		</section>
</template>