<template name="youtube_player">
	<div id="youtube_player" style="opacity:0;">
		<div id="youtube_player_inner">
			{{>play_pause}}
			{{>post_roll}}

			{{>temp_img}}
			{{>flash_video}}

			{{>comment_flyup}}
		    {{>controls}}
		</div>
	</div>
</template>

<template name="temp_img">
	{{#if canDisplayOverlays}}
		<img src="http://img.youtube.com/vi/{{current_video.youtube_id}}/{{current_video.photo}}.jpg" id="temp_img" style="opacity:0;" class="{{current_video.photo}}" />
	{{/if}}
</template>

<template name="flash_video">
	{{#constant}}
		<div id="video"></div>
	{{/constant}}
</template>

<template name="post_roll">
	<div id="postRoll" style="display:none;">
		<div id="postRollLeft">
			<div id="postRollCountdown">10</div>
			<img src="/images/tvNoMe.png" id="postRollTV"/>
			<div id="millsContainer">
				<img src="/images/noTvMe.png" id="postRollMills"/>
			</div>
		</div>
		
		<div id="upNext">
			<h1>Whatsup Next People:</h1>
			<img id="upNextImage" src="" error="this.src='/images/default-vid.jpg';"/>
			<div id="upNextTitle"><span>"The Hunger Games"</span></div>
			<div id="watchIt">WATCH IT!<span id="postRollCounter">(starting in <span id="countdownSpan">10</span>)</span></div>
		</div>
	</div>
</template>



<template name="play_pause">
	<div id="largePlayPauseButton" class="stopped">
    	<div class="smallPlay"></div> 
    </div>
</template>



<template name="comment_flyup">
	{{#if canShowFlyup}}
		<div id="flyupContainer" style="opacity:0;">
			<div id="flyupInner">
				<div id="flyupComment">
				
					{{>flyup_textarea}}
					{{>flyup_edit_buttons}}
					{{>flyup_social_buttons}}
				
				</div>
			
				<img src="/images/speech-bubble.png" class="speech_bubble" />
				<img src="{{currentVideoUserPic}}" class="flyup_user_pic" />
			</div>
		</div>
	{{/if}}
</template>


<template name="flyup_textarea">
	{{#if is_displaying_comment}}
		<span id="flyupCommentInner"></span>
	{{else}}
		{{#if is_editing_flyup_comment}}
			<textarea id="flyup_comment_textarea" maxlength="80" placeholder="Click to start typing your message"></textarea>
		{{else}}
			<div id="flyup_comment_button" class="custom_button">
				<div class="custom_button_inner">
					COMMENT HERE
				</div>
			</div>
			{{#isolate}}
				<div id="flyup_current_video_time">Comment Time: {{currentVideoTime}}</div>
			{{/isolate}}
		{{/if}}
	{{/if}}
</template>

<template name="flyup_edit_buttons">
	{{#if is_displaying_comment}}
		{{#if ownsCurrentVideo}}
			<div id="adminFlyupTools" style="display:none;">
				<img id="deleteFlyup" src="/images/closebtn.png" />
				<img id="editFlyup" src="/images/pencil-icon.png" />
			</div>
		{{/if}}
	{{/if}}
</template>

<template name="flyup_social_buttons">
		{{#if is_displaying_comment}}
			<div id="flyupSocialButtonsContainer">
				<ul>
					<li id="facebookShareFlyup">
						<a class="facebook_link" href="https://www.facebook.com/sharer/sharer.php?u=http://www.speechless.tv/video/{{current_video._id}}/{{comment_time}}" target="_blank" onclick="pauseVideo()">
							<img src="/images/facebook-share.png" alt="Follow Me" />
						</a>
					</li>
					<li id="tweetButtonFlyup" >
						<a class="tweet_link" href="https://twitter.com/share?via=SpeechlessTV1&url=http://www.speechless.tv/video/{{current_video._id}}/{{comment_time}}" target="_blank" onclick="pauseVideo()">
							<img src="/images/tweet-rectangle.png" alt="Tweet Me" />
						</a>
					</li>		
				</ul>
			</div>
		{{else}}
			{{#if is_editing_flyup_comment}}
				<div id="flyupSocialButtonsContainer">
					<div id="flyup_comment_submit" class="custom_button">
						SUBMIT
					</div>
				</div>
			{{/if}}
		{{/if}}
</template>


<template name="controls">
	<div id="controls">
        <div id="smallPlayPauseButton">
        	<div id="miniPausePlay" class="play"></div>
        </div> 

    	<div id="groove"></div>

        <div id="bars">
            <div id="barsInner">
				<div id="loadingBar"></div>
	            <div id="progressBar"></div>
				{{>markers}}
	            <div id="currentTimeBall">
					<div id="innerTimeBallCircle"></div>
				</div>
			</div>
        </div>

		{{#isolate}}
			<div id="videoTime">
				<p>
					<span id="videoCurrentTime">{{currentVideoTime}}</span> <span>/</span> <span id="videoDuration">{{currentVideoDuration}}</span>
				</p>
			</div>
		{{/isolate}}
		
        <div id="volume">
        	<ul>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
        </div>

    	<div id="minilogo">
			<img src="/images/speechlesstv-icon.png" style="width: 78%;margin-top: 6px"/>
		</div>
		
		<div id="groove"></div>
		
        <div id="fullscreen">
        	<div id="fullscreenButton"></div>
        </div>
    </div>
</template>

<template name="markers">
	{{#each current_video.comments}}
		<div class="comment_marker" style="left:{{markerLeft time}}px;"></div>
	{{/each}}
</template>