<template name="control_bar">
	<div class="controls">
		{{#if playerReady playerId}}
			{{#with player playerId}}
	        	{{#isolate}}
	 				<div class="smallPlayPauseButton {{playPauseClass}}">
			        	<div class="miniPausePlay"></div
			        </div>
				{{/isolate}}

		    	<div class="groove"></div>

		        <div class="bars">
		            <div class="barsInner">
						{{#isolate}}<div class="loadingBar" style="width:{{loadedPercent}}%"></div>{{/isolate}}
		            	{{#isolate}}<div class="progressBar" style="width:{{playedPercent}}%"></div>{{/isolate}}
		            	{{#isolate}}
							<div class="currentTimeBall" style="left:{{playedPercent}}%">
								<div class="innerTimeBallCircle"></div>
							</div>
						{{/isolate}}
					</div>
		        </div>

				{{#isolate}}
					<div class="videoTime">
						<p>
							<span class="videoCurrentTime">{{timeFormatted}}</span> <span>/</span> <span class="videoDuration">{{durationFormatted}}</span>
						</p>
					</div>
				{{/isolate}}


				{{#isolate}}
			        <div class="volume">
			        	<ul>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
							<li></li>
						</ul>
			        </div>
				{{/isolate}}

		    	<div class="minilogo">
					<img src="/images/speechlesstv-icon.png" style="width: 78%;margin-top: 6px"/>
				</div>

				<div class="groove"></div>

		        {{#isolate}}
					<div class="fullscreen {{fullScreenClass}}">
			        	<div class="fullscreenButton"></div>
			        </div>
				{{/isolate}}
			{{/with}}
		{{/if}}
    </div>
</template>