<template name="control_bar">
	<div class="controls backface" style="overflow:hidden;">
	
			{{#with player playerId}}
	        	
	 				<div class="smallPlayPauseButton {{playPauseClass}}">
			        	<div class="miniPausePlay"></div>
			        </div>
				

		    	<div class="groove"></div>

		        <div class="bars">
		            <div class="barsInner">
						<div class="loadingBar" style="width:{{loadedPercent}}%"></div>
		            	<div class="progressBar" style="width:{{playedPercent}}%"></div>
		            	
							<div class="currentTimeBall" style="left:{{playedPercent}}%">
								<div class="innerTimeBallCircle"></div>
							</div>
						
					</div>
		        </div>

				
					<div class="videoTime">
						<p>
							<span class="videoCurrentTime">{{timeFormatted}}</span> <span>/</span> <span class="videoDuration">{{durationFormatted}}</span>
						</p>
					</div>
				


				
			        {{>volume}}
				

		    	<div class="minilogo buddy_list_button">
					<i class="fa fa-users" style="font-size:42px;"></i>
				</div>

				<div class="groove"></div>
				
				<div class="controls_comment_button">COMMENT</div>
		        
				<div class="groove"></div>
		
				<div class="fullscreen {{fullScreenClass}}">
		        	<div class="fullscreenButton"></div>
		        </div>
			
			{{/with}}

    </div>
</template>