#add_videos_wrapper {
	margin: 5px auto;
}



#add_videos_bar {
	width: 99%; 
	height: 65px;
	
	margin: 0 auto; 
	padding-top: 5px;
	
	z-index: 3;
}

#add_videos_bar > div {
	float:left;
	height: 60px;
	margin-right: 1px;
	
	background: #559afe;
	border: none;
	
	padding-top: 14px;
	
	color: white;
	font-size: 32px;
	text-align: center;
	cursor: pointer;
}

#add_videos_bar > div:hover {
	background-color: rgb(42, 103, 160);
	text-shadow: 1px 1px 1px rgb(33, 67, 78);
}

#add_videos_bar > div:active {
	background-color: black;
	text-shadow: gray;
}

#history_back {
	width: 100px;		
}

#history_spacer {
	width: 150px;		
}
#add_videos_bar > #history_spacer:hover {
	background: #559afe;
	text-shadow: none;	
	cursor: default;
}
#add_videos_bar > #history_spacer:active {
	background: #559afe;
	text-shadow: none;	
	cursor: default;
}

.history_filter_tab {
	width: 200px;
}
.history_filter_tab.selected {
	background-color: rgb(42, 103, 160) !important;
	text-shadow: gray !important; 
}




.history_row {
	margin: 0px auto 10px;
	height: 180px;
	background: #559afe;
	padding-top: 10px;
	position: relative;
}

.history_row:hover {
	background: #2A67A0;
}

.video_info_left {
	float: left;
	margin-left: 1%;
	width: 20%;
}

.add_video_image_container {
	width: 100%;
	height: 160px;
	position: relative;
}

.add_video_image_container img, .add_video_image_container object {
	width: 100%;
	height: 100%;
	border: 4px solid white;
}


.history_row .fast_forward, .history_row .search_fullscreen  {
	display:none;	
}

.history_row:hover .fast_forward, .history_row:hover .search_fullscreen  {
	position: absolute;
	display:block; 
	
	opacity: 1;
	cursor: pointer;
	
	width: 23px;
	z-index: 99;
	
	background: white;
	height: 24px;
	
	color: #2A67A0;
	font-size: 14px;
	font-weight: bold;
	
	padding-left: 5px;
	padding-top: 4px;
}

.history_row:hover .fast_forward {
	bottom: 0px;
	right: 0px;
	width: 66px;
	height: 30px;
	text-align:right;
	padding-right: 5px;
	padding-top: 8px;
}

.history_row:hover .search_fullscreen {
	bottom: 0px;
	left: 0px;
}

.history_row:hover .fast_forward:hover, .history_row:hover .search_fullscreen:hover {
	background: #2A67A0;
	color: white;
}

.history_row:hover .fast_forward:active, .history_row:hover .search_fullscreen:active {
	background: #559afe;
	color: white;
}





.video_info_right {
	float: left;
	margin-left: 1%;
	width: 77%;
}


.video_info_right .video_title {
	width: 100%;
	background: white;
	padding: 10px;
	font-size: 18px;
	line-height: 25px;
}

.video_info_right .video_comment {
	width: 100%;
	background: rgb(42, 103, 160);
	padding: 5px 10px;
	
	font-size: 16px;
	line-height: 20px;
}

.video_info_right .video_note {
	width: 100%;
	background: #3A414D;
	
	padding: 5px 10px;
	
	font-size: 16px;
	line-height: 20px;
	color:white;
}

.video_info_right .video_stats {
	width: 100%;
	background: black;
	
	padding: 5px 10px;
	
	font-size: 16px;
	line-height: 20px;
	color:white;
}
.stats_container {
	position: absolute;
	bottom: 10px;
	right: 1%;

	font-size: 16px;
	color: white;
}

.stats_container i {
	margin-left: 5px;
}

.add_button {
	display: block;
	text-decoration: none;
	width: 100%;
	height: 80px;
	background: #559AFD;
	color: white;
	text-align: center;
	font-size: 44px;
	padding-top: 19px;
}

.add_button:hover {
	background-color: rgb(42, 103, 160);
	text-shadow: 1px 1px 1px rgb(33, 67, 78);	
}

.add_button:active {
	background-color: black;
	text-shadow: gray;
}
