.search_result {
	margin-top: 6px;
	opacity: 1;
	position:relative;
	width: 100%;
}
.search_result:first-child{
	margin-top: 0px;
}

.selected_result {
	opacity:1;
	cursor: alias;
}

.search_result .video_image {
	width: 100%;
}

.search_result object {
	width: 100%;
	height: 160%;
	margin-top: -17%;
}


.search_result .check_video, .search_result .fast_forward, .search_result .search_fullscreen, .suggest_video {
	position: absolute;
	
	opacity: 1;
	cursor: pointer;
	
	width: 23px;
	z-index: 99;
	
	background: #559afe;
	height: 21px;
	
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-shadow: 1px 1px 1px navy;
	
	padding-left:4px;
	padding-top: 3px;
}

.search_result .check_video {
	top: 0px;
	left: 0px;
	opacity: .8;
	display:none;
	z-index: 101;
}

.search_result .suggest_video {
	top: 0px;
	left: 0px;
	display:none;
}

.search_result .live {
	position: absolute;
	top: 4px;
	right: 3px;
	height: 18px;
	width: 30px;
	background: red;
	/* border: 1px solid rgb(197, 46, 46); */
	border-radius: 5px;
	color: white;
	font-size: 11px;
	padding: 5px 0px 0px 5px;
	text-shadow: 1px 1px 1px black;
	-webkit-box-shadow: inset 0px 0px 6px 2px rgba(50, 50, 50, 1);
	-moz-box-shadow: inset 0px 0px 6px 2px rgba(50, 50, 50, 1);
	box-shadow: inset 0px 0px 6px 2px rgba(50, 50, 50, 1);
	opacity: 1;
}

.search_result .fast_forward {
	bottom: 0px;
	right: 0px;
	display:none;
	opacity: .8;
}

.search_result .search_fullscreen {
	bottom: 0px;
	left: 0px;
	display:none;
	opacity: .8;
}

.search_result .check_video:hover, .search_result .fast_forward:hover, .search_result .search_fullscreen:hover, .suggest_video:hover {
	color: rgb(31, 65, 170);
	text-shadow: 1px 1px 1px white;
	opacity: 1;
}

.search_result .check_video:active, .search_result .fast_forward:active, .search_result .search_fullscreen:active, .suggest_video:active {
	color:black;
	text-shadow: 1px 1px 1px white;
	opacity: 1;
}

.selected_result .check_video, .selected_result .fast_forward, .selected_result .search_fullscreen, .selected_result .suggest_video {
	display:block !important;
}








