#search_results_side {
	background: white;
}

#search_results_container {
	position: relative;
	width: 99%;
	margin: 75px auto 0px;
	z-index: 1;
}

.search_help_box {
	position: absolute;
	top: 180px;
	left: 50%;
	margin-left: -450px;
}

.search_help_box img {
	float:left;
	width: 500px;
	border-radius: 2px;
	box-shadow: 0px 0px 200px 20px #559afe;
}

.search_help_box .search_help_text {
	float: left;
	margin-left: 15px;
	margin-top: 132px;
	color: white;
	font-size: 20px;
	background-color: rgb(42, 103, 160);
	text-shadow: 1px 1px 1px rgb(33, 67, 78);
	padding: 15px;
}

#search_results_wrapper {
	position: relative;
	
	width: 100%;
	
	overflow: hidden;
}

#search_results_scroller {
	width: 10000px;
}


.search_back_next {
	position: absolute;
	
	top: 3px;
	
	width: 30px;
	
	font-size: 20px;
	font-weight: bold;
	color:white;
	text-shadow: 1px 1px 1px navy;
	
	opacity: 0;
	background: #559afe;
	
	cursor: pointer;
}
#search_results_back {
	left:0px;
	padding-left: 4px;
}

#search_results_next {
	right: 0px;
	padding-left: 8px;
}

.search_back_next:hover {
	opacity: .9;
}