<template name="search_fullscreen_side">
	<div class="backface" id="search_fullscreen_side"  style="display:none;">
		{{>search_fullscreen_player}}
		
		<div style="position:absolute; bottom: 60px; width: 980px; left:50%; margin-left: -490px;">
			{{{control_bar 'search_fullscreen_player'}}}
		</div>
		
		{{>fullscreen_backnext}}
	</div>
</template>

<template name="search_fullscreen_player">
	<div class="search_fullscreen_player_container">
		<div id="search_fullscreen_player"></div>
	</div>
</template>




<template name="search_fullscreen_side_alt">
	<div class="backface" id="search_fullscreen_side_alt" style="display:none;">
		{{>search_fullscreen_player_alt}}
		
		<div style="position:absolute; bottom: 60px; width: 980px; left:50%; margin-left: -490px;">
			{{{control_bar 'search_fullscreen_player_alt'}}}
		</div>
		
		{{>fullscreen_backnext}}
	</div>
</template>

<template name="search_fullscreen_player_alt">
	<div class="search_fullscreen_player_container">
		<div id="search_fullscreen_player_alt"></div>
	</div>
</template>




<template name="fullscreen_backnext">
	<div class="fullscreen_back_next fullscreen_back" style="display:{{showBack}};"><i class="fa fa-arrow-left"></i></div>
	<div class="fullscreen_back_next fullscreen_next" style="display:{{showNext}};"><i class="fa fa-arrow-right"></i></div>
</template>