<template name="search_fullscreen_side">
	<div class="backface" id="search_fullscreen_side"  style="display:none;">
		<div class="live_button {{liveModeSelected}}">LIVE!</div>
		{{>search_fullscreen_player}}
		
		<div style="position:absolute; z-index: 99; bottom: 60px; width: 980px; height:60px; left:50%; margin-left: -490px;">
			<div id="controls_cube_container_a" class="c_container" style="width: 100%; height: 100%;">
				<div class="c message_cube" id="controls_cube_a">
					{{>control_bar playerId='search_fullscreen_player'}}
					{{>message_bar_side id='message_side_a' fullscreen=true}}
				</div>
			</div>
		</div>
		
		{{>fullscreen_backnext}}
	</div>
</template>

<template name="search_fullscreen_player">
	<div class="search_fullscreen_player_container">
		<div class="video_cover">
			<div class="bar">
		    	<span></span>
			</div>
		</div>
		<div id="search_fullscreen_player"></div>
	</div>
</template>




<template name="search_fullscreen_side_alt">
	<div class="backface" id="search_fullscreen_side_alt" style="display:none;">
		<div class="live_button {{liveModeSelected}}">LIVE!</div>
		{{>search_fullscreen_player_alt}}
		
		<div style="position:absolute; z-index: 99; bottom: 60px; width: 980px; height:60px; left:50%; margin-left: -490px;">
			<div id="controls_cube_container_b" class="c_container" style="width: 100%; height: 100%;">
				<div class="c message_cube" id="controls_cube_b">
					{{>control_bar playerId='search_fullscreen_player_alt'}}
					{{>message_bar_side id='message_side_b' fullscreen=true}}
				</div>
			</div>
		</div>
		
		{{>fullscreen_backnext}}
	</div>
</template>

<template name="search_fullscreen_player_alt">
	<div class="search_fullscreen_player_container">
		<div class="video_cover">
			<div class="bar">
			    <span></span>
			</div>
		</div>
		<div id="search_fullscreen_player_alt"></div>
	</div>
</template>




<template name="fullscreen_backnext">
	<div class="fullscreen_back_next fullscreen_back" style="visibility:{{showBack}};"><i class="fa fa-arrow-left"></i></div>
	<div class="fullscreen_back_next fullscreen_next" style="visibility:{{showNext}};"><i class="fa fa-arrow-right"></i></div>
</template>