#add_video_form {
background:url(../../images/shattered.png)repeat;
width: 530px;
position:absolute; top: -500px;
left:50%;
margin-left: -265px;
z-index:10;
border:1px solid black;
padding: 15px;
margin-top: 5px;
}
#add_video_form input, label {
float:left;

}

#add_video_form input {
	width: 370px;
	border: 2px solid white;
}

#add_video_form input:focus {
	border: 2px solid #5BA0B8
}

#add_video_form label {
	width: 100px;
	font-size: 14px;
}


#add_video_form .field_container { 
	margin-bottom: 10px;
}

#add_video_form img#logo {
float:left;
border: 1px solid #5BA0B8;
}
#add_video_form h1 {
	font-size: 30px;
	font-weight: bold;
	font-family: 'Fjalla One', sans-serif;
	color: #5BA0B8;
	float: left;
	margin-left: 20px;
	margin-top: 20px;
	text-shadow: 1px 1px 1px white;
}

#cancel_add_video {
	position: absolute;

	top: 5px;
	right: 15px;
	color: black;
	font-size: 14px;
}

#add_video_form textarea#initial_comment_field {
width: 370px;
height: 30px;  
}

#add_video_form textarea#description_field {
width: 370px;
height: 80px;  
}

#add_video_form textarea:focus {
	border: 1px solid  #5BA0B8;
}

#category_id_field {
	margin-bottom: 10px;
}

#length_field {
	width: 50px;
}

#add_video_form #submit_button {
	width: 97%;
	height: 20px;
	margin: 10px auto;
	border: none;
cursor: pointer;
box-shadow: 1px 1px 3px 1px black;
color: #5BA0B8;
font-weight: bold;
}

#add_video_form #submit_button:hover { 
box-shadow: 0px 0px 1px 1px black;
}

.clearboth {
	clear:both;
}