#add_video_form {
background:url(../../images/shattered.png)repeat;
height:400px;
width:500px;
padding:30px;
position:absolute;
left:50%;
margin-left:-235px;
z-index:10;
display:none;
border:1px solid black;
}
#add_video_form input {


}

#cancel_add_video {
	position: relative;

}

#add_video_form textarea {
width: 300px;
height: 100px;  
}
