#youtube_url_box { 
	width: 82%;
	z-index: 1200;
	height: 400px;
	margin: 0px auto 150px;
	position: relative;
	top: 180px;
}

#youtube_url_box img {
	float:left;
	width: 4.4%;
	margin-right: 5px;
}

#youtube_url_box h1 {
	color: #559AFD;
	font-size: 28px;
	font-weight:bold;
}


#youtube_url_box input {
	margin-top: 12px;
	
	height: 70px; 
	width: 100%; 
	
	border: 6px solid #559AFD; 
	color: #559AFD;

	background-color:#fff;
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#DAE9FF), to(#F8F8F8));
	background: -moz-linear-gradient(top, #DAE9FF, #F8F8F8);
	background: -webkit-linear-gradient(top, #DAE9FF, #F8F8F8);
	background: -ms-linear-gradient(top, #DAE9FF, #F8F8F8);
	background: -o-linear-gradient(top, #DAE9FF, #F8F8F8);
	background: linear-gradient(top, #DAE9FF, #F8F8F8);
	font-size: 24px;
}

#add_video_button {
	height: 54px;
	width: 25%;
	
	margin-left: 75%;
	margin-top: 6px;
	
	background: #559AFE;
	
	font-size: 36px;
	padding-top: 11px;
	color: white;
	text-align:center;
	
	cursor:pointer;
}
#add_video_button:hover {
	background-color: rgb(42, 103, 160);
	text-shadow: 1px 1px 1px rgb(33, 67, 78);
}


#add_video_button_inner {

}
#add_video_button_inner:hover {

}