#being_watched {
width: 978px;
margin-left: 20px;
}
#being_watched .groove {
border: 1px solid #EEE;
border-top: 1px solid #E8E8E8;
border-bottom: 1px solid white;
}
#being_watched .miniPlaylist {
height: 95px;
overflow: hidden;
}

.miniPlaylist .miniVid {
	position: relative;
	float:left;
	
	height:70px;
	width:111px;
	margin-top:12px;
	margin-right:3px;
}
.miniPlaylist .miniVid img {
width: 100%;
height: 100%;
}

.miniPlaylist .miniVidHover {
position: absolute;
width: 100%;
height: 100%;
background: url(../../images/miniVidHover.png) no-repeat;
opacity: .8;
cursor: pointer;
}
.miniPlaylist .miniUser {
background:url('../../images/userPic.png');
height:70px;
width:111px;
margin-top:12px;
margin-right:3px;
float:left;
position:relative;
}
.miniPlaylist .miniUserHover {
position: absolute;
width: 100%;
height: 100%;
background: url(../../images/voteHover.png) no-repeat;
}