#categories   {
margin: 0 0 0 15px;
width: 98.5%;
margin-bottom: 30px!important;
display: block;
font-size: 20px;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.8;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#categories .button{
float:left;
margin: 6px 4px;
padding: 0 19px;
height:34px;
width: 117px;
}

#categories .button:hover{
opacity:.7;
}
#categories .button{
background-color:#1a1a1a;
cursor: pointer;
text-decoration: none;
display: block;
color: white;
}
#categories .button.selected{
background-color: rgb(42, 110, 253);
}