#page-wrap {
width: 660px;
background:url(../../images/shattered.png)repeat;
padding: 20px 50px 20px 20px;
margin: 0 auto;
height: 415px;
position:absolute;
left:50%;
margin-left:-335px;
border:2px solid #5BA0B8;
top:-500px;
z-index: 999;
}
#page-wrap p{
margin-left:25px;
font-size: 20px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #5BA0B8;
text-align:center;
line-height:1.55;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-shadow: 1px 1px 1px white;
}

#page-wrap img#logo {
float:left;
border: 1px solid #5BA0B8;
}



#contact-area {
margin-top: 25px;
}

#contact-area input, #contact-area textarea {
padding: 5px;
width: 471px;
font-family: Helvetica, sans-serif;
font-size: 1.4em;
margin: 0px 0px 10px 0px;
border: 2px solid #ccc;
}

#contact-area textarea {
height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
border: 2px solid #5BA0B8;
}
#contact-area a {
color: #5BA0B8;
font-size: 18px;
font-family: 'PT sans', sans-serif;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
float: right;
margin-right: 20px;
margin-top: 18px;
}

#contact-area a:hover {
opacity: .8;   
}

#contact-area input.submit-button {
width: 100px;
float: right;
cursor: pointer;
opacity: .75;
box-shadow: 1px 1px 3px 1px black;
color: #5BA0B8;
font-weight: bold;
}

#contact-area input.submit-button:hover {
opacity: 1;   
box-shadow: 0px 0px 1px 1px black;
}

label {
float: left;
text-align: right;
margin-right: 15px;
width: 100px;
padding-top: 5px;
font-size: 1.4em;
text-shadow: 1px 1px 1px gray;
font-family: 'Fjalla One', sans-serif;
color: white;
}