/** position the video player as a whole in the natural "flow" of the page. Relative positioning allows u to move it away from where it would appear in the flow, but that's not why we are using relative positioning--we are using relative positioning so that absolute positioning of elements nested within #videoContainer works in a way that they are positioned relative to the boundaries of #videoContainer **/
#videoContainer {
position: relative; 
width:980px;
height:468px; 
background-color:black;
margin:0 auto;
}


/** position all sub-divs essentially relative to the boundaries of the #videoContainer element. i say "relatively" even though you're absolutely positioning them because the idea is that when positioned absolutely, they are in fact positioned "relatively" to the first parent element that is either relative or absolute positioned. **/
#videoContainer div {
position:absolute;
}

#video {
width: 100%; 
height: 90%; 
background-color:black;
}
#largePlayPauseButton {
position:absolute; top: 39%; left: 50%;
margin-left: -60px;
width: 120px; 
height: 110px; 
background-color:#5BA0B8;
color:white; 
padding-top: 4px;
}

#largePlayPauseButton:hover {
cursor: pointer;
background-color:#73BAD1;
}

#largePlayPauseButton .smallPlay {
width: 0;
height: 0;
margin-left: 45px;
margin-top: 30px;
border-top: 20px solid transparent;
border-left: 37px solid white;
border-bottom: 20px solid transparent;

}


#largePlayPauseButton p {
font-size: 60px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.3;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}


#flyupContainer {
position: absolute;
bottom: 40px;
right: 0px;
overflow: hidden;   
width: 430px;
height: 300px;
}

#flyupContainer #flyupInner {
position: absolute;
top: 300px;
opacity:  0;
right: 0px;
}

#flyupContainer #flyupInner img {
    
}
#flyupContainer #flyupInner #flyupComment {   
left: 22px; 
top: 2px;
width: 260px; 
height: 110px;
 
position: absolute;
display: table;
}


#flyupCommentInner {
display: table-cell;
vertical-align: middle;
font-size: 20px;
font-weight: bold;
font-family: 'Fjalla One', sans-serif;
color: #5BA0B8;
line-height: 1.2;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: center;    
}
/** hide the large play button once the video starts **/
#video .started {
display:none;
}

#controls {
background-color: #C0C0C0; 
width: 100%; 
bottom: 0px; 
height: 10%;
}
    
div#smallPlayPauseButton {
position: relative;
  
width: 60px; 
height: 100%; 
float:left;
}

div#smallPlayPauseButton:hover {
-moz-box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
-webkit-box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
cursor: pointer;
}


div#smallPlayPauseButton .play {
background: url('../../images/play.png') no-repeat;
width: 100%;
height: 97%;
left: 24px;
top: 15px
}

div#smallPlayPauseButton .pause {
background: url('../../images/pause.png') no-repeat; 
width: 100%;
height: 100%;
left: 22px;
top: 15px;
}

div#groove {
position: relative;
float:left; 
width:1px;
height:100%;
border-left: 1px solid rgb(214,214,214);
border-right: 1px solid rgb(155,155,155);
}
div#bars {
position:relative; 
float:left; 
width: 62%; 
height: 50%;
padding-top:.6%; 
margin-top:1.2%; 
margin-left:1%;
margin-right:1%;
background-color: rgba(100, 100, 100, 0.5);
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px; /* future proofing */
-khtml-border-radius: 5px;
}

#barsInner {
  width: 97.4%;
  height: 100%;
  margin: 0 1%;
}


#loadingBar {
background-color: rgba(0, 0, 0, 0.2); 
z-index: 1; 
width: 0%; 
height: 50%; 
border-radius: 2px;
}
#progressBar {
background-color: rgba(91, 160, 184, 1);  
z-index: 2; 
width: 2.7%;
height: 50%; 
border-radius: 2px;
}

/** see how the current time ball is moved to the left the same width as the progress bar!! **/
#currentTimeBall {
z-index: 3;
background:url('../../images/progress_ball.png') no-repeat;
left: 0; 
width: 3%; 
height: 100%; 
top: -3px;
margin-left: -2px;
cursor: pointer;
position:relative;
}
#currentTimeBall.hover {
background-color:green;
}

#currentTimeBall #innerTimeBallCircle {
border-radius: 100px;
width: 9px;
height: 9px;    

position: absolute;
top: 5px;
left: 5px;  
}

#currentTimeBall #innerTimeBallCircle.hover {
border-radius: 100px;
width: 9px;
height: 9px;    
background-color: #026E92;
position: absolute;
top: 5px;
left: 5px;

opacity: .7;
-moz-box-shadow:inset 0px 0px 3px 1px rgba(119, 119, 119, 0.9);
-webkit-box-shadow:inset 0px 0px 3px 1px rgba(119, 119, 119, 0.9);
box-shadow:inset 0px 0px 3px 1px rgba(119, 119, 119, 0.9);
}

div#videoTime {
position:relative; 
float:left; 
width: 7.5%; 
height: 100%;
padding-top: 14px;
}

div#videoTime span {
color: white;
text-shadow: 1px 1px 1px gray;
font-size: 12px;   
}

/** the idea i have in mind is that the #volume background will change widths depending on how hi/lo the user drags the volume; and on top of it will be a transparent .png that overlays a steps cookie-cutter like this: http://snapplr.com/xrsh **/
div#volume {	
position:relative; 
float:left; 
width: 8.5%; 
height: 100%;
}


div#volume li {	
float: left;
margin-left: 4px;
width: 8px;
height: 36px;
margin-top: 6px;
background-color: #5BA0B8;
border-radius: 2px;
}

div#volume li:hover {
cursor: pointer;
height: 42px;
margin-top: 3px;
}

div#volume .circle {
width: 6%;
height: 51%;
margin-right:5px;
background: black;
-moz-border-radius: 5px / 8px;
-webkit-border-radius: 5px / 8px;
border-radius: 5px / 8px;
}
div#volume #background {
background-color:#5BA0B8; 
width: 70%; 
height: 100%;
}
div#volume #foreground {
background-color:black; 
width:100%; 
height: 80%;
}
div#minilogo{
background-color:#5BA0B8; 
position:relative; 
float:left;
height:100%;
width:5%;
font-size: 37px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.3;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
margin-right: 1%;

  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}


 
div#minilogo:hover {
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}



/** you need to clear the divs in #controls so that #controls gets some height **/
div#fullscreen {
position:relative; 
float:left;  
width: 72px;
height: 100%;
}


div#fullscreen:hover {
-moz-box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
-webkit-box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
box-shadow:inset 0px 0px 15px 4px rgba(119, 119, 119, 0.9);
cursor: pointer;   
}

#fullscreenButton {
background:url('../../images/fullscreen.png') no-repeat;
width: 100%;
height: 100%;  
top: 10px;
left: 22px;  
}


#videoInfo {
position: fixed;
top: 0px;
left: 50%;
background-color: white;
border: 2px solid black;
z-index: 2999;
margin-left: -200px;
width:  400px;
}


#videoContainer object{
	width: 100%;
	height: 100%;
}



#deleteFlyup {
position: absolute;
width: 32px;
height: 32px;
cursor: pointer;
top: -10px;
right: -25px;
z-index: 2;
opacity: .5;
}

#deleteFlyup:hover {
opacity: 1;
}


#editFlyup {
position: absolute; 
top: -15px; left: -20px;
width: 32px; height: 32px;
opacity: .7;
cursor: pointer;
z-index: 2;
}

#editFlyup:hover {
opacity: 1;
}
