.footer {
width: 1032px;
margin: 0 auto;
}

.footer .groove {
border: 1px solid #EEE;
border-top: 1px solid #E8E8E8;
border-bottom: 1px solid white;
}

.footer h4 {
margin: 20px 0 0 0px;
font-size: 12px;
font-weight:normal;
font-family: 'Arial', sans-serif;
color: #A1A1A1;
text-align:left;
float:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;	
}

.footer img {
float:right;
height:48px;
}
