#header_container {
position: fixed;
z-index: 1099;
height: 54px;
top: 0;
width: 100%;
}

#header {
box-shadow: 0 8px 6px -8px #2a6efd;
background: rgb(248, 251, 253);  
width: 92%; 
min-width: 1032px;  
margin: 0 auto;
height: 54px;
-webkit-box-shadow: 0 8px 6px -8px #2a6efd;
-moz-box-shadow: 0 8px 6px -8px #555;
box-shadow: 0 8px 6px -8px #2a6efd;
}

#header .headerInner {
max-width: 73em;
width: 1032px;
position: relative;
margin: 0 auto;
}
#header #logo {
background-color: #5BA0B8;
float:left;
margin-right:10px;
width:60px;
height:54px;
font-size: 50px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.15;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;	
}
#header #title {
font-size: 25px;
font-family: 'Fjalla One', sans-serif;
color: #cdcdcd;
text-align:left;
line-height:2.4;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-shadow: 1px 1px 0px #9B9B9B;
font-weight: bold;
}

@-moz-document url-prefix() {
   #header #title {
        letter-spacing: 2px;
		font-size: 26px;
    }
}

#header #header_right {
	position: absolute;
	right: 0;
	top: 6px;
}

#facebook {
background:url('../../images/faceBook.png')no-repeat;
height:23px;
width:14px;	
float:right;

}
#facebook:hover {opacity:.7;}

#twitter {
background:url('../../images/twitterBird.png')no-repeat;
height:23px;
width:32px;	
float:right;
margin-right: 10px;
}
#twitter:hover {opacity:.7;}

#youtube {
background:url('../../images/youTube.png')no-repeat;
height:23px;
width:32px;	
float:right;

}
#youtube:hover {opacity:.7;}

#contact {
font-size: 25px;
font-weight:bold;
color: #606060;
font-family: 'Fjalla One', sans-serif;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
float:right;
margin-right: 20px;
}
#contact:hover {
opacity: .7;
cursor: pointer;
}

.admin_link {
	color: rgb(42, 110, 253);
	left: 4.5%;
	top: 30px;
	position: absolute;
	text-decoration: underline;
	cursor: pointer;
}

#add_marker {
top: 5px;    
}

#marker_comment {
position: absolute;
top: 5px; left: 300px;
height: 40px; width: 390px;
   
}

#cancel_marker {
position: absolute;
top: 5px; left: 700px;    
}


#marker_submit_button {
position: absolute;
top: 26px; left: 700px;
height: 15px; width: 80px;
cursor: pointer;
}


.custom_button {
	float: right;
	height: 40px;
	border: 2px solid rgb(49, 51, 63);
	background: #559AFE;
	width: 150px;
	margin-right: 1px;
}
.custom_button:hover {
	background: rgb(42, 110, 253);
	cursor:pointer;
}

.custom_button_inner {
	border-top: 1px solid rgb(186, 212, 219);
	line-height: 37px;
	text-align: center;
	font-size: 24px;
	text-shadow: 1px 1px 1px rgb(250, 247, 247);
}
.custom_button_inner:hover {
	color: white;
	text-shadow: 1px 1px 1px black;
}

#facebook_connect {
	height:40px;
	float:right;
	
	cursor: pointer;
	opacity: .9;
	margin-left:2px;
}
#facebook_connect:hover {
	opacity: 1;	
}
