#top {
max-width: 980px !important;
margin-left: 25px !important;
margin-top: 75px;
height: 100%;
}

#top #home_video {

width:980px;
height:468px;


margin-bottom: 10px;


border: 6px solid #559afe;
position:relative;
}
/*
#top #home_video .video_count {
background-color: #5BA0B8;
width:309px;
height:81px;
float:right;
margin-top:40px;
font-size: 50px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:left;
line-height:1.7;
text-indent:10px;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}*/
#top #home_video .video_title {
font-size: 50px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:left;
line-height:17;
text-indent:10px;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#top #vid_info {
opacity: 0.9;
margin-top: 12px;
font-size: 20px;
font-family: 'Fjalla One', sans-serif;
float: left;
color: #AAA;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#top .fb-like {
float: right;
margin-right: 4px;
margin-top: 12px;
display: block;
}
#top .channelName p {
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #cdcdcd;
text-align:left;
line-height:2.1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#top .channelName h1 {
float:left;
font-size: 38px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: rgb(42, 110, 253);
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
width: 530px;
overflow: hidden;
height: 46px;
padding-top: 4px;
}
#top .channelViews p {
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #559AFE;
text-align:left;
line-height:1.5;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#top .channelViews h1 {
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: rgb(42, 110, 253);
text-align:left;
line-height:1.5;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
cursor: pointer;
}
#top .channelViews h1:hover {
text-decoration: underline;    
}

#top .videoBio p img {
float: right;
width: 75px;
margin-left:5px;
margin-right: -4px;
margin-top: -12px
    
}

#top .videoBio p span {
color: #4F8286;

font-style: oblique;
}
#top .videoBio p {
margin-top: -30px;
float:right;
width: 440px;
font-size: 16px;
font-weight:normal;
font-family: 'Fjalla One', sans-serif;
color: #0F4899;
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: right;
margin-bottom: 5px;
}
#top .videoBio p a:link {
text-decoration:none;
font-size: 16px;
font-weight:normal;
font-family: 'Fjalla One', sans-serif;
color:#5BA0B8;
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#top #votes{	
overflow: hidden;
width: 100%;
}
#top #votes li{
display:inline;
list-style:none;	
float: right;
margin-left: 10px;
}

#top #votes #facebookLikeLi {
overflow:hidden;
height: 28px;
}

#top #votes li#facebookShare {

}
#top #votes li#facebookShare img {
height: 20px;   
}

#title_overlay {
	position: absolute;
	top: 34px;
	left: 3px;
	background: #559afe;
	color: white;
	margin-left: -31px;
	line-height: 60px;
	font-size: 46px;
	padding: 5px 10px;
	max-width: 920px;
	border: none;
}