/*#leftThumb {
background:url('../../images/leftThumb.png')no-repeat;
height:147px;
width:37px;
position: fixed;
top: 230px;
left: 0px;
z-index: 1099;		
}*/
#leftThumb {
background:url('../../images/slideLeft.png')no-repeat;
height:147px;
width:260px;
position: fixed;
top: 230px;
left: -224px;
z-index: 1099;		width="224" height="108"
}

.iframeImg img {
width:224px;
position:relative;
top: -10px;
}

#leftThumb .iframeImg {
height:108px;
width:224px;	
overflow:hidden;	
}
#leftThumb img.time {
float:right;
margin-right:115px;	
margin-top:-15px;	
}
#leftThumb p.title {
line-height:1.25;
font-size: 14px;
font-family: 'Fjalla One', sans-serif;
color: #1a1a1a;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: right;
margin-right: 74px;
margin-top: 4px;
}
#leftThumb p.time {
margin-left:150px;
line-height:1.2;
font-size: 14px;
font-family: 'Fjalla One', sans-serif;
color: #386B92;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
/*#leftThumb:hover {
background:url('../../images/slideLopen.png')no-repeat;
height:147px;
width:260px;
z-index: 1099;
}*/
/*#rightThumb {
background:url('../../images/rightThumb.png')no-repeat;
height:147px;
width:37px;
position: fixed;
top: 230px;
right: 0px;	
z-index: 1099;	
}*/

#rightThumb:hover, #leftThumb:hover {
cursor: pointer;
}


#rightThumb {
background:url('../../images/slideRight.png')no-repeat;
height:147px;
width:260px;
position: fixed;
top: 230px;
right: -224px;	
z-index: 1099;	
}
#rightThumb .iframeImg {
margin-left:37px;
height:108px;
width:224px;
overflow:hidden;		
}
#rightThumb img.time {
float:right;
margin-right:80px;	
margin-top:-15px;	
}
#rightThumb p.title {
line-height:1.25;
font-size: 14px;
font-family: 'Fjalla One', sans-serif;
color: #1a1a1a;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: right;
margin-right: 38px;
margin-top: 4px;
}
#rightThumb p.time {
margin-left:185px;
line-height:1.2;
font-size: 14px;
font-family: 'Fjalla One', sans-serif;
color: #cdcdcd;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
/*#rightThumb:hover {
background:url('../../images/slideRopen.png')no-repeat;
height:147px;
width:260px;
z-index: 1099;	
}*/