#show_more {
background-color:rgb(42, 110, 253);
height:35px;
width: 96%;
margin: 10px 20px;
font-size: 20px;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:center;
line-height:1.8;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
box-shadow: 1px 1px 10px 1px gray;
}
#show_more:hover {
background-color:#559afe;
color: rgb(10, 54, 109);
cursor: pointer;
box-shadow: none;
}
