section.slide-up-boxes {
    margin: 0 auto;
    width: 840px  
}


.slide-up-boxes a { 
	display: block; 
 	width:350px;
	margin: 0 auto 20px ; 
	background: rgba(215, 215, 215, 0.5); 
	border: 1px solid #ccc; 
	height: 65px; 
	overflow: hidden; 
	float:left; margin-left: 5px; width: 275px;
}


.slide-up-boxes h5 { 
	font-weight:bold;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color:#cdcdcd; 
	text-align: center;
	height: 65px; 
	font: 20px/65px 'Fjalla One', sans-serif;    /* Vertically center text by making line height equal to height */
	 opacity: 1;
	 -webkit-transition: all 0.2s linear; 
	 -moz-transition: all 0.2s linear; 
	 -o-transition: all 0.2s linear;
}

.slide-up-boxes a:hover h5 { 
	margin-top: -65px; 
	opacity: 0; 
}

.slide-up-boxes div { 
	position: relative; 
	color: white; 
	font: 12px/15px ‘Arial Black’, 'Gadget', sans-serif;
	font-weight:normal;
	-webkit-font-smoothing: antialiased;
	height: 65px; 
	padding: 10px; 
	opacity: 0; 
	-webkit-transform: rotate(6deg); 
	-webkit-transition: all 0.4s linear; 
	-moz-transform: rotate(6deg); 
	-moz-transition: all 0.4s linear; 
	-o-transform: rotate(6deg); 
	-o-transition: all 0.4s linear; 
}
.slide-up-boxes a:hover div { 
	opacity: 1; 
	-webkit-transform: rotate(0); 
	-moz-transform: rotate(0); 
	-o-transform: rotate(0);
	text-align:center; 
}
.slide-up-boxes a:nth-child(1) div { background: #5BA0B8; padding-left: 10px; }
.slide-up-boxes a:nth-child(2) div { background: #5BA0B8; padding-left: 10px; }
.slide-up-boxes a:nth-child(3) div { background: #5BA0B8; padding-left: 10px; }