#video_info  {
position:absolute;
bottom: 0px;

width: 986px;

margin-left: 50%;
left: -494px;
}

#video_info .video_title {
font-size: 50px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: white;
text-align:left;
line-height:17;
text-indent:10px;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}

#video_info .fb-like {
float: right;
margin-right: 4px;
margin-top: 12px;
display: block;
}

#video_info #video_info {
	width: 982px;
	margin: 0 auto;
	position: absolute;
	bottom: 0px;
}

#video_info .channelName p {
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #cdcdcd;
text-align:left;
line-height:2.1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#video_info .channelName h1 {
float:left;
font-size: 38px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: rgb(42, 110, 253);
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
width: 530px;
overflow: hidden;
height: 46px;
padding-top: 4px;
}
#video_info .channelViews .info_cat {
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: #559AFE;
text-align:left;
line-height:1.5;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
display: block;
text-decoration: none;
}
#video_info .channelViews .info_cat:hover {
text-decoration: underline;
}

#video_info .channelViews .info_channel {
text-decoration: none;
float:left;
font-size: 25px;
font-weight:bold;
font-family: 'Fjalla One', sans-serif;
color: rgb(42, 110, 253);
text-align:left;
line-height:1.5;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
cursor: pointer;
display:block;
}
#video_info .channelViews .info_channel:hover {
text-decoration: underline;    
}

#video_info .videoBio p img {
float: right;
width: 75px;
margin-left:5px;
margin-right: -4px;
margin-top: -12px
    
}

#video_info .videoBio p span {
color: #4F8286;

font-style: oblique;
}
#video_info .videoBio p {
margin-top: -30px;
float:right;
width: 440px;
font-size: 16px;
font-weight:normal;
font-family: 'Fjalla One', sans-serif;
color: #0F4899;
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
text-align: right;
margin-bottom: 5px;
}
#video_info .videoBio p a:link {
text-decoration:none;
font-size: 16px;
font-weight:normal;
font-family: 'Fjalla One', sans-serif;
color:#5BA0B8;
text-align:left;
line-height:1;
-webkit-font-smoothing: antialiased;
-moz-font-smoothing: antialiased;
font-smoothing: antialiased;
text-rendering: optimizeLegibility;
}
#video_info #votes{	
overflow: hidden;
width: 100%;
margin-left: 4px;
}
#video_info #votes li{
display:inline;
list-style:none;	
float: right;
margin-left: 10px;
}

#video_info #votes #facebookLikeLi {
overflow:hidden;
height: 25px;
}

#video_info #votes li#facebookShare {

}
#video_info #votes li#facebookShare img {
height: 20px;   
}